
/* Backgrounds
------------------------------------------*/

#main {
	background: url(images/world-cup-ball.jpg) no-repeat 600px 20px;
}


#pool-matches {
	background: url(images/haka-image.jpg) repeat-x;
}

#knock-out {
	background: url(images/world-cup-scrum.jpg) no-repeat 700px 20px;
}

#final {
	background: url(images/winning-image) fixed;
	background-size:cover;
}